/* content table*/

/**
1. navigation bar

**/


/** ===================
1. Navigation Bar
=======================**/

.navBar {
		overflow: hidden;
        background-color: #732C2C;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 0px;
        width: 100%;
        top: 0;
        left: 0;
        position: -webkit-sticky;
        position: sticky;
	}
	.navBar h3 {
		float: left;
        font-size: 26px;
        color: black;
        background-color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        position: -webkit-sticky;
        position: sticky;
        top: 5px;
        bottom: 5px;
	}
	#menu {
		float: right;
    overflow: hidden;
    list-style: none;
	}
	#menu #menuItem {
		font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
	}
	.navBar #menu #menuItem {
		text-decoration: none;
			float: left;
			display: block;
			 white-space: nowrap;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch;
  top: 20px;
	}
    .navBar i{
        cursor: pointer;
    }
	